
<!-- Page Heading -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Inicio</h1>
	</div>
</div>


<div class="row col-centered">
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading" style="background: #3b5998; color: white">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-facebook-square fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">26</div>
						<div>Personas apoyan</div>
						<div>Lo Encontre!</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<span class="pull-left">Apoyanos con un :</span> <span
						class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-green">
			<div class="panel-heading" style="background: #1da1f2;">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-twitter fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">12</div>
						<div>Personas siguen a</div>
						<div>Lo Encontre!</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<span class="pull-left">Síguenos en:</span> <span
						class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>

	<div class="col-lg-3 col-md-6">
		<div class="panel panel-red">
			<div class="panel-heading" style="background: #db4437;">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-google-plus  fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">13</div>
						<div>Personas apoyan a Lo Encontre!</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<span class="pull-left">Unete:</span> <span class="pull-right"><i
						class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
</div>
<!-- /.row -->

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-bar-chart-o fa-fw"></i> Documentos Registrados
				</h3>
			</div>
			<div class="panel-body">
				<div style="width: 100%;">
					<canvas id="canvas"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.row -->

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-bar-chart-o fa-fw"></i> Este es el grafico de los
					documentos que has encontrado
				</h3>
			</div>
			<div class="panel-body">
				<div style="width: 100%;">
					<canvas id="canvasEstatisticasCliente"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.row -->

<script src="../js/propiedadesGraficosChart.js"></script>
<script type="text/javascript">
			loadGraphics();
		</script>