

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav"
	role="navigation">
	<div class="container topnav">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand topnav" href="#">Lo Encotre</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="javaScript:void(0)"
					onclick="moveTo('sectionCodigoQR')">Que es un codigo QR?</a></li>
				<li><a href="javaScript:void(0)">Por que?</a></li>
				<li><a href="javaScript:void(0)">Contacto</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>


<!-- Header -->
<a name="about"></a>

<div class="intro-header" id="prueba">
	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<div class="intro-message">
					<h1>Lo Encontre!</h1>
					<h3>Ingresa tu correo electronico para encontrar tus
						documentos</h3>
					<div class="col-sm-7 col-lg-7 col-xm-7 col-sm-offset-3">

						<div class="form-group">
							<label for="inputEmail" class="col-md-2 control-label">Email</label>
							<div class="col-md-7">
								<input ng-model="emailLogin" type="email" class="form-control"
									id="inputEmail" style="color: white" placeholder="Email">
							</div>
							<button class="btn btn-raised btn-primary"
								ng-click="validarEmail()">
								<span
									class="glyphicon glyphicon-refresh glyphicon-refresh-animate"
									ng-show="load"></span> {{labelBoton}}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a name="services"></a>
<div class="content-section-a" id="sectionCodigoQR">

	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-sm-6">
				<h2 class="section-heading">&iquest;Que es un codigo QR?</h2>
				<p class="lead" style="text-align: justify;">Un c&oacute;digo QR
					es un c&oacute;digo de barras bidimensional que permite almacenar
					datos codificados. La mayor&iacute;a de estos codigos codifican una
					direcci&oacute;n a un sitio web(URL).</p>
			</div>

			<div class="col-lg-5 col-lg-offset-2 col-sm-6">
				<img class="img-responsive" src="../img/QRExample.png" alt=""
					width="250">
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

	<div class="container">

		<div class="row">
			<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
				<h2 class="section-heading">&iquest;Com&oacute; escanear un
					codigo QR?</h2>
				<p class="lead" style="text-align: justify;">
					Accede a la App Store, Android Play Store o al <span
						style="font-weight: bold"> sitio de descarga de
						aplicaciones de tu dispositivo.</span> <br> Busca <span
						style="font-weight: bold">QR</span>. Encontrar&aacute;s cientos de
					lectores gratuitos todos muy buenos, el que escojas te va a
					funcionar para escanear el codigo del documento.
				</p>
			</div>
			<div class="col-lg-5 col-sm-pull-6  col-sm-6">
				<img class="img-responsive" src="../img/devices.png" alt=""
					width="250">
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

	<div class="container">

		<div class="row">
			<div class="col-lg-5 col-sm-6">
				<h2 class="section-heading">&iquest;Como registrar un
					documento?</h2>
				<p class="lead" style="text-align: justify;">
					- Escanea el QR que est&aacute; impreso en el estuche.<br> -
					La app te va a indicar que la informaci&oacute;n del c&oacute;digo
					QR es una URL.<br> - Abre la URL en tu navegador web.<br>
					- Y sigue los pasos.
				</p>
			</div>
			<div class="col-lg-5 col-lg-offset-2 col-sm-6">
				<img class="img-responsive" src="../img/register.png" alt=""
					width="250">
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>
<!-- /.content-section-a -->


<div class="content-section-b">

	<div class="container">

		<div class="row">
			<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
				<h2 class="section-heading">&iquest;Com&oacute; reportar mi
					documento como perdido?</h2>
				<p class="lead" style="text-align: justify;">
					Escribe el Email con el cual registraste el documento, procura usar
					el mismo Email al momento de registrar tus documentos, esto te
					ayudará a encontrar tus documentos más facilmente. <span
						style="font-weight: bold;">Lo Encontre</span> te mostrará los
					documentos registrados con ese email, selecciona el documento que
					perdiste y reportalo como perdido.
				</p>
			</div>
			<div class="col-lg-5 col-sm-pull-6  col-sm-6">
				<img class="img-responsive" src="../img/qr-code-scan.png" alt=""
					width="250">
			</div>
		</div>

	</div>
</div>
<!-- /.container -->


<div class="content-section-a">

	<div class="container">

		<div class="row">
			<div class="col-lg-5 col-sm-6">
				<h2 class="section-heading">Y un ciudadano ejemplar..</h2>
				<p class="lead" style="text-align: justify;">
					Encontrará tu documento.<br> <br> <span
						style="font-weight: bold">Lo Encontre</span>, es un medio por el
					cual la persona que encuentre tu documento te podrá contactar de
					una manera facil y segura.<br> Esto te va a evitar filas y
					tramites que pueden llevar mucho tiempo.

				</p>
			</div>
			<div class="col-lg-5 col-lg-offset-2 col-sm-6">
				<img class="img-responsive" src="../img/businessman-waving.png"
					alt="" width="250">
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>
<!-- /.content-section-a -->


<a name="contact"></a>

<div class="content-section-b">

	<div class="container">

		<div class="row">
			<form class="form-horizontal">
				<fieldset>
					<legend>Contacto</legend>
					<div class="well bs-component">
						<div class="form-group">
							<label for="Nombre" class="col-md-2 control-label">Nombre:</label>
							<div class="col-md-10">
								<input type="text" class="form-control" id="inputNombre"
									placeholder="nombre">
							</div>
						</div>

						<div class="form-group">
							<label for="inputEmail" class="col-md-2 control-label">Email:</label>
							<div class="col-md-10">
								<input type="email" class="form-control" id="inputEmail"
									placeholder="email">
							</div>
						</div>

						<div class="form-group">
							<label for="textArea" class="col-md-2 control-label">Mensaje:</label>
							<div class="col-md-10">
								<textarea class="form-control" rows="3" id="textArea"
									placeholder="mensaje"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group col-md-1 col-sm-1 col-xm-1 col-lg-1">
								<label for="textArea" class="col-md-2 control-label">Mensaje:</label>
								<span class="input-group-btn">
									<button type="button" class="btn btn-fab btn-fab-mini">
										<i class="material-icons">send</i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>

	</div>
</div>
<!-- /.container -->


<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="list-inline">
					<li><a href="#">Home</a></li>
					<li class="footer-menu-divider">&sdot;</li>
					<li><a href="#about">About</a></li>
					<li class="footer-menu-divider">&sdot;</li>
					<li><a href="#services">Services</a></li>
					<li class="footer-menu-divider">&sdot;</li>
					<li><a href="#contact">Contact</a></li>
				</ul>
				<p class="copyright text-muted small">Copyright &copy; Your
					Company 2014. All Rights Reserved</p>
			</div>
		</div>
	</div>
</footer>

<style>
/*
    Original version: http://www.bootply.com/128062
    
    This version adds support for IE 10+ and Firefox.
*/
.glyphicon-refresh-animate {
	-animation: spin .7s infinite linear;
	-ms-animation: spin .7s infinite linear;
	-webkit-animation: spinw .7s infinite linear;
	-moz-animation: spinm .7s infinite linear;
}

@
keyframes spin {from { transform:scale(1)rotate(0deg);
	
}

to {
	transform: scale(1) rotate(360deg);
}

}
@
-webkit-keyframes spinw {from { -webkit-transform:rotate(0deg);
	
}

to {
	-webkit-transform: rotate(360deg);
}

}
@
-moz-keyframes spinm {from { -moz-transform:rotate(0deg);
	
}

to {
	-moz-transform: rotate(360deg);
}
}
</style>